@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Work+Sans:wght@400;800&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  list-style: none;
}

body {
  background-color: #18181b;
  width: 99vw;
  height: 98vh;
  overflow: hidden;

  display: flex;
}

/* NAVIGATION BAR */
ul > li {
  padding: 1.5rem;
  font-size: clamp(1rem, 2.5vw, 1.3rem);
}

ul li i {
  background-color: #333338;
  padding: 13px;
  border-radius: 20%;
}

ul li i:hover {
  background-color: #525256;
  cursor: pointer;
}
.navigation-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

/* LEFT CONTAINER */
.about-wrapper {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container {
  width: 500px;
  height: auto;
  text-align: center;
}

.about-container img {
  border-radius: 50%;
}
.my-description {
  font-weight: bolder;
  font-size: clamp(1.4rem, 2.5vw, 3rem);
}

.my-description span {
  color: #ef4444;
}

.secondary-description {
  color: #949aa5;
  font-size: clamp(1.2rem, 2.5vw, 1.4rem);
}

/* Main projects section */
.projects-wrapper {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: stretch;
}

.projects-wrapper img {
  overflow: auto;
}

/* media queries */
@media (max-width: 720px) {
  body {
    flex-direction: column;
    overflow: visible;
    width: 100%;
  }

  .about-wrapper {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projects-wrapper img {
    width: 180px;
    height: 200px;
  }
}
