@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Work+Sans:wght@400;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  list-style: none;
}

body {
  background-color: #18181b;
}

#home {
  width: 98.7vw;
  height: 96vh;
  display: flex;
  align-items: center;
}
/* NAVIGATION BAR */
ul > li {
  padding: 1.5rem;
  font-size: clamp(1rem, 2.5vw, 1.3rem);
}

ul li i {
  background-color: #333338;
  padding: 13px;
  border-radius: 20%;
}

ul li i:hover {
  background-color: #525256;
  cursor: pointer;
}
.navigation-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

/* LEFT CONTAINER */
.about-wrapper {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container {
  width: 500px;
  height: auto;
  text-align: center;
}

.about-container img {
  border-radius: 50%;
}
.my-description {
  font-weight: bolder;
  font-size: clamp(1.4rem, 2.5vw, 3rem);
}

.my-description span {
  color: #ef4444;
}

.secondary-description {
  color: #949aa5;
  font-size: clamp(1.2rem, 2.5vw, 1.4rem);
}

/* Main projects section */

.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: none;
}

.grid-item {
  grid-row: span 2;
}

.grid-item-big {
  grid-row: span 2;
  grid-column: span 2;
}

/* make image fill the entire grid cell */
.grid-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-item-big img {
  width: 100%;
  height: 100%;
}

.projects-wrapper {
  overflow: hidden;
}

.projects-wrapper img {
  transition: 0.3s;
}

.projects-wrapper img:hover {
  filter: blur(2px);
  transform: scale(1.1);
}

/* ------SKILLS SECTION------- */
#skills {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-title {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(3rem, 2.5vw, 1.3rem);
}
/* media queries */
@media (max-width: 720px) {
  body {
    flex-direction: column;
    overflow: visible;
    width: 100%;
  }

  .about-wrapper {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
