@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800;900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  list-style: none;
  color: #fff;
}

body {
  background-color: #18181b;
  height: 95vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
}

nav ul li {
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 18px;
}

nav ul li i {
  font-size: 24px;
}

nav ul li i:hover {
  color: #b3acac;
}

.sunMoon:hover {
  cursor: pointer;
}

.about-container {
  width: fit-content;
  height: 500px;
  margin-bottom: 40px;
  font-size: clamp(0.7rem, 2.5vw, 1rem);
}

.about-container h3 {
  margin-bottom: 35px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.skill-item {
  width: 300px;
  height: 90px;
  background-color: rgba(226, 105, 24, 0.521);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.skill-item i {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
}
